extends layout.pug

block content
  main.all-notes     
    if notes.length
      ul.notes
        each note in notes
          li.note-item 
            a(href=`notes/${ note.id }`)= note.name
            a.delete-note(href=`notes/${ note.id }/delete`) Delete
            a.delete-note(href=`notes/${ note.id }/updateInfo`) Update
    else
      p.empty No any note yet