extends layout.pug

block content
  .container
    .title Employee's information
    .content
      form(method="POST")
        .user-details
          .input-box
            span.details Name
            input(placeholder='Enter your name' required='' name="name")
          .input-box
            span.details Surname
            input(placeholder='Enter your surname' required='' name="surname")
          .input-box
            span.details Email
            input(type='text' placeholder='Enter your email' required='' name="email")
          .input-box
            span.details Phone Number
            input(type='text' placeholder='Enter your number' required='' name="mobile")
          .input-box
            span.details Date of Birth
            input.mask-date(type='date' placeholder='MM/YY' required='' name="dob" data-date-inline-picker='true')
          .input-box
            span.details Position in the company
            input(type='text' placeholder='Position in the company' required='' name="position")
          span.details Status of an employee
          select#status(name='status')
            option(value='Active') Active
            option(value='Fired') Fired
            option(value='In vacation') In vacation
            option(value='Retired') Retired

        .button
          input(type='submit' value='Register')