doctype html
head
  meta(charset='UTF-8')
  // -<title> Responsive Registration Form | CodingLab </title>-
  link(rel='stylesheet' href='/styles/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
.container
  .title Registration
  .content
    form(action='#')
      .user-details
        .input-box
          span.details Full Name
          input(type='text' placeholder='Enter your name' required='')
        .input-box
          span.details Username
          input(type='text' placeholder='Enter your username' required='')
        .input-box
          span.details Email
          input(type='text' placeholder='Enter your email' required='')
        .input-box
          span.details Phone Number
          input(type='text' placeholder='Enter your number' required='')
        .input-box
          span.details Password
          input(type='text' placeholder='Enter your password' required='')
        .input-box
          span.details Confirm Password
          input(type='text' placeholder='Confirm your password' required='')
      .gender-details
        input#dot-1(type='radio' name='gender')
        input#dot-2(type='radio' name='gender')
        input#dot-3(type='radio' name='gender')
        span.gender-title Gender
        .category
          label(for='dot-1')
            span.dot.one
            span.gender Male
          label(for='dot-2')
            span.dot.two
            span.gender Female
          label(for='dot-3')
            span.dot.three
            span.gender Prefer not to say
      .button
        input(type='submit' value='Register')
