extends layout.pug

block content
  main.l-main
    section#home.home.bd-grid
      .home__data
        h1#homeTitle.home__title
          | An application to work with employees of 
          br
          span.home__title-color a fictional
          |  organization
        a.button-main(href='/list_employees') List of employees
      .home__img
        img(src='/images/perfil.png' alt='')
