extends layout.pug

block content
  main.intro
    p This is very simple note taking app
    p You can create notes, delete them, archive notes
    p Supports markdown
    a(href="employees/create-employee" class="create-note-btn") Create note