extends layout.pug

block content
  .container
    .title List of all employees
    .content
      main.all-employees     
        if employees.length
          ul.employees
            each employee in employees
              li.employee-item 
                a.list-employee(href=`/${ employee.id }/detailedInfo`)= employee.name
                a.delete-employee(href=`employees/${ employee.id }/delete`) Delete
                a.delete-employee(href=`/${ employee.id }/updateInfo`) Update
        else
          p.empty No any employee yet